* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}

.preload {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #77b3d4;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease 0.2s;
}

.preload-finished{
    opacity: 0;
    pointer-events: none;
}

.plane {
    height: 55vmin;
    animation: plane 1.5s ease-in-out infinite alternate;
}

.plane-finished {
    animation: flyout 1s ease;
}

.cloud {
    height: 7rem;
    position: absolute;
    right: -100vw;
    z-index: -1;
}

#cloud1{
    top: 12vh;
    animation: clouds 3s linear infinite;
}
#cloud2{
    top: 50vh;
    animation: clouds 3s linear infinite 1.6s;
}
#cloud3{
    top: 80vh;
    animation: clouds 3s linear infinite 0.7s;
}

.background {
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(./img/land-desktop.jpg);
}

.social, .background h1 {
    margin: 1rem;
    font-size: 2rem;
}

.social a {
    text-decoration: none;
    color: black;
}

@media screen and (orientation:portrait) {
    .background{
        background-image: url(./img/land-mobile.jpg);
        background-position: center;
        background-size: 100vh;
        color: white;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .social a, .background h1 {
        color: white;
    }
}

@keyframes plane {
    from {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    to {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
    }
}

@keyframes clouds {
    from {
        right: -30vw;
    }
    to {
         right: 130vw;
    }
}

@keyframes flyout{
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(100vw);
    }
}